label {
    display: inline-block;
    margin: 10px 0;
}

input {
    border: 1px solid #dede;
    border-radius: 10px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input:focus {
    outline: none;
}

.btn {
    background-color: blueviolet;
    border: 2px solid #fff;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.btn:hover {
    background-color: aquamarine;
    color: black;
}
